@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /*variables principales*/
}
/**reset**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Outfit", sans-serif;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------------------------------*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: all 1s ease-in-out;
  background-position: center center;
  min-height: 100vh;
  justify-content: space-between;
}
main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.formLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  padding: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
}
input:focus {
  outline: 2px solid rgb(51, 96, 219);
}
section {
  margin: 20px;
  width: 100%;
  max-width: 400px;
}
footer nav {
  display: flex;
  gap: 20px;
}
footer img {
  filter: invert(1);
  width: 32px;
}
.listLinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.listLinks li {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin: 10px;
}
.links {
  display: flex;
  gap: 10px;
  font-size: 30px;
  justify-content: space-between;
  padding: 5px;
}
.btnRemove {
  color: white;
  font-weight: bold;
  border-radius: 100%;
  transform: translate(-20px, -28px);
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
}
.btnRemove:hover {
  cursor: pointer;
}
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* img  del enlace*/
.links img {
  filter: invert(1);
  width: 25px;
  height: 25px;
}
.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  max-width: 100%;
  word-break: break-word;
}
.btn {
  background-color: rgb(51, 96, 219);
  color: white;
}

.blur-backdrop {
  background: rgba(78, 78, 78, 0.507);
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(1px);
}

.formKeys {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.formKeysContent {
  display: flex;
  justify-content: center;
}

.divDate {
  font-size: 20px;
  margin: 10px;
  color: rgb(238, 211, 123);
}
.labelKey {
  text-shadow: 0 0 5px rgb(213, 216, 66), 0 0 10px rgb(213, 216, 66);
}
.divKey {
  font-weight: bold;
  font-size: 14px;
  background: rgba(78, 78, 78, 0.507);
  backdrop-filter: blur(1px);
  padding: 20px;
  border-radius: 16px;
  margin-left: 32px;
}
.containerClock {
  font-size: 58px;
  font-weight: bold;
  text-shadow: 0 0 5px rgb(0, 26, 255), 0 0 10px rgb(55, 0, 255);
  text-align: center;
}
.title {
  font-size: 24px;
  padding: 8px;
  text-shadow: 0 0 5px rgb(213, 216, 66), 0 0 10px rgb(213, 216, 66);
}
.containerWeather {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.condition {
  margin: 2px;
  text-shadow: 0 0 6px rgb(213, 216, 66), 0 0 10px rgb(213, 216, 66);
}
.divWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: sticky; /*para fijar la parte de arriba*/
}
.temp {
  font-size: 48px;
}
.imgTemp {
  width: 25px;
  filter: invert(1);
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.dashboard-card {
  width: 100%;
  max-width: 400px;
}

.divHours {
  display: flex;
  scrollbar-width: none;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
  text-align: center;
}
.divHours li {
  padding: 8px;
}
.divHours p {
  font-size: 18px;
  color: rgb(238, 211, 123);
}
.divHours img {
  width: 60px;
}
.divHours:hover {
  scrollbar-width: thin;
}

.divMsg {
  font-size: 32px;
  text-align: center;
  width: 100%;
  text-shadow: 0 0 5px rgb(213, 216, 66), 0 0 10px rgb(213, 216, 66);
}

.footerKeys {
  margin-top: 45vh;
}
/*medias */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .containerWeather {
    width: 100%;
    max-width: 350px;
  }

  section {
    max-width: 90%;
  }

  footer {
    gap: 30px;
  }
  .dashboard-card {
    max-width: 90%;
  }
}
